<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">
            <iframe src="https://github.com/sponsors/katlol/button" title="Sponsor katlol" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
          </li>
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}<span id="adsblol_api_me_footer"></span></li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>

    </div>
  </div>
</footer>
