{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-4 text-center">
      <img src="/logo.png" alt="ADSB.lol logo" class="border-0" height="100em" style="margin: 2em;" />
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>

      <p class="meta">Identifying
        <span id="adsblol_api_me_aircraft">...</span>
        flying objects, via
        <span id="adsblol_api_me_beast">...</span> BEAST and
        <span id="adsblol_api_me_mlat">...</span> MLAT connections.
    </div>
  </div>
</section>
<section class="section section-sm " id="adsblol_api_me_feeding_info">
  <div class="container aloltooltip">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10" style="margin: 0;">
        <table class="d-none" id="adsblol_api_me_beast_table" style="margin: 0;">
          <tr>
            <th>UUID</th>
            <th>ms</th>
            <th>Kbps</th>
            <th>Time</th>
            <th>Positions</th>
            <th>Messages/s</th>
            <th>Positions/s</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-center text-center">

      <div class="col-lg-9" style="margin: 0;">
        <table class="d-none" id="adsblol_api_me_mlat_table" style="margin: 0;">
          <tr>
            <th>MLAT Name</th>
            <th>Peers</th>
            <th>Bad sync timeout</th>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
<section class="section section-sm" id="adsblol_feed_details">
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Powered by volunteers</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a>
          out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=59aafe464a68f8bc30b8e9a636d5b053">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
          to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit
          your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
