{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-4 text-center">
      <img src="/logo.png" alt="ADSB.lol logo" class="border-0" height="100em" style="margin: 2em;" />
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!---<a class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"
        role="button">{{ i18n "get-started" }}</a>-->
      <!--<p class="meta">Open Source. Open Data.</a></p>-->
      <p class="meta">Tracking
        <span id="adsblol_api_me_planes">...</span>
        planes
        by <span id="adsblol_api_me_beast">...</span> BEAST and
        <span id="adsblol_api_me_mlat">...</span> MLAT connections.
    </div>
  </div>
</section>
<section class="section section-sm d-none" id="adsblol_api_me_feeding_info">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-11" style="margin: 0;">
        <pre style="margin: 0;">curl https://api.adsb.lol/api/0/me</pre>
        <table class="d-none aloltooltip" id="adsblol_api_me_beast_table" style="margin: 0;">
          <tr>
            <th>IP</th>
            <th>Kbps</th>
            <th>Time</th>
            <th>Total Positions</th>
            <th>Messages/s</th>
            <th>Positions/s</th>
          </tr>
        </table>
      </div>
    </div>
    <div class="row justify-content-center text-center">

      <div class="col-lg-9" style="margin: 0;">
        <table class="d-none aloltooltip" id="adsblol_api_me_mlat_table" style="margin: 0;">
          <tr>
            <th>MLAT Name</th>
            <th>Peers</th>
            <th>Bad sync timeout</th>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>
<section class="section section-sm" id="adsblol_feed_details">
  <div class="container">
    <div class="row justify-content-center text-center">

      <div class="col-lg-5">
        <h2 class="h4">Transparency.</h2>
        <ul class="unstyled list-unstyled">
          We believe in the power of open data to build a community and reduce profit motives.<br/>
        </ul>
      </div>

      <div class="col-lg-5">
        <h2 class="h4">Technology.</h2>
        <a href="https://adsb.lol/stats">4 CPU cores, 10 GB of RAM, 20Mbps.</a><br/>
        with high availability overhead (3-4x).<br/>
        Thank you, <a href="https://github.com/wiedehopf/readsb">wiedehopf/readsb</a>!
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Teamwork.</h2>
        <p>
          We mutually share data with aggregators willing to do the same.</br>
          <br/>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Powered by volunteers</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a>
          out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=59aafe464a68f8bc30b8e9a636d5b053">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
          to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit
          your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
